@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #1A7FBD;
    --cor2: #A4DCFF;
    --cor3: #000;
    --cor4: #FFF;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    background-image: url(../Assets_Netuno/bannertopo.png);
    background-repeat: no-repeat;
    background-position: right -220px top 10px;
}

main {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
}

#imagem1 {
    position: relative;
    left: 230px;
    top: 30px;
    height: 40px;
}

nav > .link {
    position: relative;
    top: 20px;
    left: 260px;
    padding-inline-start: 60px;
    color: var(--cor4);
    text-decoration: none;
}

#botao1 {
    position: relative;
    top: 20px;
    left: 350px;
    width: 150px;
    height: 45px;
    border-radius: 7px;
    background-color: var(--cor3);
    color: var(--cor4);
    font-weight: bold;
}

section > form {
    position: absolute;
    left: 930px;
    top: 180px;
    background-color: var(--cor4);
    border-radius: 15px;
    width: 400px;
    height: 700px;
}

form > h1 {
    position: absolute;
    top: 30px;
    left: 35px;
    color: rgb(203, 193, 193);
}

form > p {
    color: var(--cor1);
    position: relative;
    top: 60px;
    right: 60px;
}

#formulario {
    background-color: var(--cor1);
    position: relative;
    top: 200px;
    height: 170px;
}

section > img {
    position: relative;
    top: 1000px;
    height: 500px;
}

section > h1 {
    font-size: 2.8vw;
    color: var(--cor2);
    position: relative;
    top: 580px;
    left: 450px;
}

section > p {
    background-position: right center;
    line-height: 1.3em;
    font-size: 1.1vw;
    position: relative;
    width: 400px;
    height: 150px;
    color: var(--cor4);
    top: 620px;
    left: 850px;
}

#parte3 {
    background-color: var(--cor4);
    position: absolute;
    top: 1670px;
    height: 1680px;
    width: 1519px;
}

#parte3 > img {
    position: relative;
    height: 800px;
    top: 25px;
    right: 260px;

}

div > h1 {
    font-size: 2.8vw;
    color: var(--cor1);
    position: absolute;
    top: 165px;
    left: 870px;
    
}

#parte3 > p {
    font-size: 1.3vw;
    color: var(--cor3);
    position: relative;
    top: -570px;
    width: 400px;
    height: 140px;
}

div#caixa1 {
    background-color: rgb(243, 242, 242);
    position: relative;
    top: 1420px;
    left: 250px;
    width: 330px;
    height: 220px;
    font-size: 1.3vw;
    border-radius: 10px;
    box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.248);
}

div#caixa2 {
    background-color: rgb(243, 242, 242);
    position: relative;
    top: 1200px;
    left: 590px;
    width: 330px;
    height: 220px;
    font-size: 1.3vw;
    border-radius: 10px;
    box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.248);
}

div#caixa3 {
    background-color: rgb(243, 242, 242);
    position: relative;
    top: 980px;
    left: 940px;
    width: 330px;
    height: 220px;
    font-size: 1.3vw;
    border-radius: 10px;
    box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.248);
}

#frase {
    position: absolute;
    top: 90px;
}

#t {
    color: var(--cor3);
    position: relative;
    font-size: 1.5em;
    left: 0px;
    top: 30px;
}

#parte4 > h1 {
    color: var(--cor1);
    position: relative;
    top: 1130px;
    left: 255px;
    right: 150px;
}

#cx1 {
    background-color: var(--cor1);
    color: var(--cor4);
    position: relative;
    top: 1180px;
    left: 260px;
    width: 320px;
    height: 70px;
    border-radius: 10px;
}

#t1 {
    position: relative;
    font-size: 1.1vw;
    top: -35px;
    left: 80px;
    width: 200px;
}

#calendario {
    background-color: var(--cor4);
    border-radius: 5px;
    position: relative;
    top: 13px;
    right: 120px;
    width: 45px;
}

#cx2 {
    background-color: var(--cor1);
    color: var(--cor4);
    position: relative;
    top: 1110px;
    left: 600px;
    width: 320px;
    height: 70px;
    border-radius: 10px;
}

#t2 {
    position: relative;
    font-size: 1.1vw;
    top: -35px;
    left: 80px;
    width: 200px;
}

#medalha {
    background-color: var(--cor4);
    border-radius: 5px;
    position: relative;
    top: 13px;
    right: 120px;
    width: 45px;
}

#cx3 {
    background-color: var(--cor1);
    color: var(--cor4);
    position: relative;
    top: 1040px;
    left: 940px;
    width: 320px;
    height: 70px;
    border-radius: 10px;
}

#t3 {
    position: relative;
    font-size: 1.1vw;
    top: -35px;
    left: 80px;
    width: 200px;
}

#relogio {
    background-color: var(--cor4);
    border-radius: 5px;
    position: relative;
    top: 13px;
    right: 120px;
    width: 45px;
}

#cx4 {
    background-color: var(--cor1);
    color: var(--cor4);
    position: relative;
    top: 1060px;
    left: 260px;
    width: 320px;
    height: 70px;
    border-radius: 10px;
}

#t4 {
    position: relative;
    font-size: 1.1vw;
    top: -35px;
    left: 80px;
    width: 200px;
}

#home {
    background-color: var(--cor4);
    border-radius: 5px;
    position: relative;
    top: 13px;
    right: 120px;
    width: 45px;
}

#cx5 {
    background-color: var(--cor1);
    color: var(--cor4);
    position: relative;
    top: 991px;
    left: 600px;
    width: 320px;
    height: 70px;
    border-radius: 10px;
}

#t5 {
    position: relative;
    font-size: 1.1vw;
    top: -20px;
    left: 80px;
    width: 200px;
}

#grupo {
    background-color: var(--cor4);
    border-radius: 5px;
    position: relative;
    top: 18px;
    right: 120px;
    width: 45px;
}

#cx6 {
    background-color: var(--cor1);
    color: var(--cor4);
    position: relative;
    top: 921px;
    left: 940px;
    width: 320px;
    height: 70px;
    border-radius: 10px;
}

#t6 {
    position: relative;
    font-size: 1.1vw;
    top: -35px;
    left: 80px;
    width: 200px;
}

#target {
    background-color: var(--cor4);
    border-radius: 5px;
    position: relative;
    top: 13px;
    right: 120px;
    width: 45px;
}

#botao2 {
    position: relative;
    font-size: 1.0vw;
    top: 1030px;
    left: 260px;
    width: 440px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--cor3);
    color: var(--cor4);
    font-weight: bold;
    text-align: top;
}

button > p {
    position: relative;
    top: 15px;
    right: 15px;
}

button > p > strong {
    color: var(--cor1);
}

#enter {
    position: relative;
    top: -5px;
    left: 180px;
    width: 25px;
}

#imagem6 {
    width: 185px;
    height: 30px;
    position: relative;
    top: 1050px;
    left: 260px;
}

#parte5 {
    background-color: var(--cor1);
    position: relative;
    top: 0px;
    height: 0px;
    width: 0px;
}

#objetivos {
    color: var(--cor4);
    position: relative;
    top: 1250px;
    left: 670px;
    right: 150px;
}

#t7 {
    font-size: 1.3vw;
    color: var(--cor3);
    position: relative;
    top: 60px;
    width: 300px;
    height: 0px;
    left: 15px;
}

#parte5 > div#caixa1 {
    background-color: rgb(243, 242, 242);
    position: relative;
    top: 1300px;
    left: 250px;
    width: 330px;
    height: 220px;
    font-size: 1.3vw;
    border-radius: 10px;
    box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.248);
}

#parte5 > div#caixa2 {
    background-color: rgb(243, 242, 242);
    position: relative;
    top: 1080px;
    left: 590px;
    width: 330px;
    height: 220px;
    font-size: 1.3vw;
    border-radius: 10px;
    box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.248);
}

#parte5 > div#caixa3 {
    background-color: rgb(243, 242, 242);
    position: relative;
    top: 861px;
    left: 930px;
    width: 330px;
    height: 220px;
    font-size: 1.3vw;
    border-radius: 10px;
    box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.248);
}

#parte6#lala {
    background-color: var(--cor3);
    color: var(--cor4);

}






