@charset "UTF-8";

:root {
    --cor1: #1A7FBD;
    --cor2: #A4DCFF;
    --cor3: #000;
    --cor4: #FFF;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    margin-top: auto;
}

div#parte1 > img {
    background-size: 0px;
    
}



